{% load static %}
<!-- ============= Footer Style Start ============= -->
   <section class="footer-style-one space-y-top v-dark" id="contact">
    <div class="container">
        <div class="footer-content">
            <div class="row gy-4 gx-4">
                <div class="col-lg-6">
                    <h2 class="footer__title">
                        LET’S GET <br> IN TOUCH
                    </h2>
                </div>
                <div class="col-lg-6">
                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-lg-6">
                                <div class="contact_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="contact_input">
                                    <input type="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="contact_input">
                                    <textarea cols="20" rows="5" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <div>
                                <button type="submit"
                                    class="btn-border-border text-white text-start d-inline-block">Send
                                    Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div
            class="footer-bottom-content d-flex align-items-center flex-wrap gap-lg-4 gap-3 flex-column flex-lg-row mt-5">
            <div class="footer-social-wrap me-lg-auto">
                <div class="footer-email">
                    <a href="mailto:martin@example.com"><span class="wave">👋</span> martin@example.com</a>
                </div>
            </div>
            <ul class="footer-social-links text-lg-start text-center">
                <li>
                    <a href="#">Behance</a>
                    <span>@martindesign</span>
                </li>
                <li>
                    <a href="#">Instagram</a>
                    <span>@martindesign</span>
                </li>
                <li>
                    <a href="#">Twitter</a>
                    <span>@martindesign</span>
                </li>
                <li>
                    <a href="#">Dribbble</a>
                    <span>@martindesign</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ============= Footer Style End ============= -->